// main: ../index.less

header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  z-index: 90;
}
